body{
	background: url("bg.jpeg");
}

#submit{
	float:center;
    width: 200px; 
	height: 50px; 
	padding: 1px;
	border-radius: 10px;
}
#map {
        height: 100%;
      }
	  
/* Formatting result items */
    .result p{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
    }
    .result p:hover{
        background: #f2f2f2;
    }